# 0. Imports

In [1]:
import ccxt
import pandas as pd
import matplotlib.pyplot as plt
import yaml
from exchange.exchange_utils import get_exchange, fetch_data
from portfolio.dynamic_stoploss import backtest
from strategy.dynamic_stoploss import apply_mca_dynamic_stoploss_strategy

# 1. Load Configs

In [2]:
def load_config(path="../config.yaml"):
    with open(path, "r") as f:
        return yaml.safe_load(f)

In [3]:
cfg = load_config()

# 2. Setup Exchange

In [4]:
exchange =  get_exchange(config=cfg)

# 3. Fetch Data

In [5]:
df = fetch_data(config=cfg, exchange=exchange)

In [6]:
df.head

<bound method NDFrame.head of               open    high     low   close        volume
timestamp
2023-01-07   13.51   13.51   13.01   13.10  1.904951e+06
2023-01-08   13.10   14.89   12.85   14.45  6.295596e+06
2023-01-09   14.46   17.50   14.28   16.25  1.948196e+07
2023-01-10   16.25   16.73   15.57   16.20  8.489418e+06
2023-01-11   16.20   16.67   15.28   16.36  6.661617e+06
...            ...     ...     ...     ...           ...
2025-09-28  203.47  211.00  198.00  210.83  2.194260e+06
2025-09-29  210.83  214.74  204.58  212.75  3.213099e+06
2025-09-30  212.74  213.67  204.29  208.68  3.264781e+06
2025-10-01  208.68  222.77  206.31  222.04  4.050261e+06
2025-10-02  222.04  233.79  219.52  231.99  4.158639e+06

[1000 rows x 5 columns]>

# 4. Apply strategy

In [7]:
r_df = backtest(df, config=cfg)

             open   high    low  close       volume
timestamp
2023-01-07  13.51  13.51  13.01  13.10   1904950.91
2023-01-08  13.10  14.89  12.85  14.45   6295596.12
2023-01-09  14.46  17.50  14.28  16.25  19481959.57
2023-01-10  16.25  16.73  15.57  16.20   8489417.77
2023-01-11  16.20  16.67  15.28  16.36   6661616.67
...           ...    ...    ...    ...          ...
2023-04-12  22.99  24.48  22.29  23.80  10374263.08
2023-04-13  23.81  25.30  23.63  24.43   6063385.78
2023-04-14  24.43  25.49  23.73  24.71   6432126.81
2023-04-15  24.72  24.80  23.81  24.05   2861426.92
2023-04-16  24.05  25.49  23.81  25.34   3471417.67

[100 rows x 5 columns]

In [8]:
res_df, res_df_short_window, res_df_long_window,  SMA_SHORT, SMA_LONG = apply_mca_dynamic_stoploss_strategy(df, config=cfg)

In [9]:
res_df.head()

             open   high    low  close       volume
timestamp
2023-01-07  13.51  13.51  13.01  13.10   1904950.91
2023-01-08  13.10  14.89  12.85  14.45   6295596.12
2023-01-09  14.46  17.50  14.28  16.25  19481959.57
2023-01-10  16.25  16.73  15.57  16.20   8489417.77
2023-01-11  16.20  16.67  15.28  16.36   6661616.67

In [10]:
res_df_short_window

              open    high     low   close       volume
timestamp
2025-09-13  242.18  244.14  235.73  242.38  3305661.265
2025-09-14  242.38  249.60  239.23  239.76  4165171.128
2025-09-15  239.75  244.00  230.15  234.31  4733589.619
2025-09-16  234.32  240.95  231.26  236.96  3181627.060
2025-09-17  236.96  246.62  232.23  244.84  4771529.493
2025-09-18  244.84  253.51  242.58  247.50  3916890.908
2025-09-19  247.50  248.57  235.12  238.53  3384985.698
2025-09-20  238.53  241.22  236.91  239.48  1550489.215
2025-09-21  239.48  241.82  235.32  236.16  1392437.976
2025-09-22  236.16  236.96  214.50  220.38  5836593.703
2025-09-23  220.39  221.71  212.34  213.30  3448908.468
2025-09-24  213.29  216.45  204.81  211.60  4427457.526
2025-09-25  211.61  212.44  191.32  192.74  6761257.291
2025-09-26  192.73  205.52  190.80  205.17  5623202.874
2025-09-27  205.16  205.43  199.88  203.46  2104933.415
2025-09-28  203.47  211.00  198.00  210.83  2194260.074
2025-09-29  210.83  214.74  204.58  212.75  3213098.851
2025-09-30  212.74  213.67  204.29  208.68  3264781.485
2025-10-01  208.68  222.77  206.31  222.04  4050260.921
2025-10-02  222.04  233.79  219.52  231.99  4158638.921

In [11]:
res_df_short_window

              open    high     low   close       volume
timestamp
2025-09-13  242.18  244.14  235.73  242.38  3305661.265
2025-09-14  242.38  249.60  239.23  239.76  4165171.128
2025-09-15  239.75  244.00  230.15  234.31  4733589.619
2025-09-16  234.32  240.95  231.26  236.96  3181627.060
2025-09-17  236.96  246.62  232.23  244.84  4771529.493
2025-09-18  244.84  253.51  242.58  247.50  3916890.908
2025-09-19  247.50  248.57  235.12  238.53  3384985.698
2025-09-20  238.53  241.22  236.91  239.48  1550489.215
2025-09-21  239.48  241.82  235.32  236.16  1392437.976
2025-09-22  236.16  236.96  214.50  220.38  5836593.703
2025-09-23  220.39  221.71  212.34  213.30  3448908.468
2025-09-24  213.29  216.45  204.81  211.60  4427457.526
2025-09-25  211.61  212.44  191.32  192.74  6761257.291
2025-09-26  192.73  205.52  190.80  205.17  5623202.874
2025-09-27  205.16  205.43  199.88  203.46  2104933.415
2025-09-28  203.47  211.00  198.00  210.83  2194260.074
2025-09-29  210.83  214.74  204.58  212.75  3213098.851
2025-09-30  212.74  213.67  204.29  208.68  3264781.485
2025-10-01  208.68  222.77  206.31  222.04  4050260.921
2025-10-02  222.04  233.79  219.52  231.99  4158638.921